[submodule "apps/healthcheck"]
	path = apps/healthcheck
	url = https://github.com/ColumbusCodeClub/alexamachine.git
[submodule "apps/alexamachine"]
	path = apps/alexamachine
	url = https://github.com/ColumbusCodeClub/alexamachine.git
